<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Turner Fenton DECA</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./css/clusterStyles.css">
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=DM+Serif+Text&family=Gothic+A1:wght@200;300;400;500;600;700;800;900&family=IBM+Plex+Sans:wght@100;200;300;400;600&family=Lato:wght@300;400;700&family=Montserrat:wght@200;300;400;500;600;800&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

</head>


  <body>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebarDECA" style="width: 280px;">
      <a href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto  text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use
            xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Turner Fenton DECA</span>
      </a>

      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="/landing-page" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use
                xlink:href="#speedometer2"></use></svg>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="/choice" class="nav-link active" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use
                xlink:href="#home"></use></svg>
            Questions
          </a>
        </li>
        <li class="nav-item">
          <a href="/userInformation" class="nav-link text-white" >
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#home"></use>
            </svg>
            User Information
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#"
          class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
          id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img
            src="https://static.vecteezy.com/system/resources/thumbnails/009/734/564/small/default-avatar-profile-icon-of-social-media-user-vector.jpg"
            alt width="32" height="32"
            class="rounded-circle me-2">
          <strong><%=username%></strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <!-- wrap button in link to logout with no styles -->
          <li>
            <a id="logout" href="/logout"><button type="submit" class="button-link signOut">Sign Out</button></a>
          </li>

        </ul>
      </div>
    </div>

    <!-- create a section that ecompaness the whole area -->
    <section class="encapsule">

      <div class="image"></div>


    <section class="choiceCard">
      <div class="title">
        <h1>Test</h1>
        <h4>Choose a cluster to start the test</h4>
      </div>
      <form method="POST" action="/choice" class="formClass">
        <div class="clusters">
          <div>
            <label for="cluster">Cluster:</label>
            <select id="cluster" name="cluster" required>
              <option value="BA">Business Administration</option>
              <option value="Entrepreneurship">Entrepreneurship</option>
              <option value="Finance">Finance</option>
              <option value="Hospitality">Hospitality and Tourism</option>
              <option value="Marketing">Marketing</option>
              <option value="Principles">Principles</option>
            </select>
          </div>

        </div>
        <div class="numberofQuestions">
          <div>
            <label for="question">Number of Questions:</label>
            <select id="question" name="question" required>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
        </div>

        <div class="time">
          <div>
            <label for="timeLimit">Time Limit:</label>
          </div>
          <div class="timeLabel">
            <input type="radio" id="timed" name="timeLimit" value="timed" required>
            <label for="timed">Timed</label>
          </div>
          <div>
            <input type="radio" id="noTime" name="timeLimit" value="none" required>
            <label for="noTime">No Time</label>
          </div>
        </div>

        <div class="buttonForChoice">
          <button id="buttonForChoice" type="submit">Start</button>
        </div>
      </form>
    </section>
  </section>



    </div>
    <script>



    </script>
  </body>

</html>
