
.encapsule{
  display: flex !important;
  flex-direction: column;
  align-items: left;
  width: 80%;
  float: right;
  padding-bottom: 4em;
}


body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-image: #ccc}

.body {
  display: flex;
  flex-direction: column;
}

  /* <!-- ________________________________________ BODY STLYING ENDS ________________________________________________ --> */



  /* <!-- ________________________________________________ SIDEBAR STARTS ____________________________________________________ --> */
  .sidebarDECA {
    height: 100%; /* 100% Full-height */
    width: 20% !important; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    font-family: 'Gothic A1', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  /* add margin of 4px to .signOut */


  .examHeading {
    font-family: 'Cabin', sans-serif;
    color: grey;
    float: left;
    font-size: 1.5rem;
    margin: 2%;
    margin-bottom: 1%;

    }

  .fs-4 {
    margin-top: 2%;
  }

  .signOut {
    margin-left: 10%;
  }
   /* <!-- ________________________________________________ SIDEBAR ENDS ____________________________________________________ --> */

   .button-link {
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: white;
    cursor: pointer;
  }

  .questionCard{
    /* Add the following styles to move the section to the right */
    margin-bottom: 2em;
    margin-right: 5%;
  }

  .top{
    display: flex;
    justify-content: space-between;
  }

  #demo{
    color: white !important;
    text-align: center;
  }

  /* make questionCard alwayus stay at the top */
  .timerCard {
    position: sticky;
    background-color: gray;
    color: white;
    text-align: right;
    top: 0;
    margin-bottom: 2em;
    width: 10em;
    margin-left: auto;
    /* make border black */
    border: 3px solid black;
    /* make width only as long as text */
    display: inline-block;
    /* make it on the right side fo the screen */

    /* makeit smaller */
    scale: 80%;
    text-align: center;
  }

  #testForm{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }

  .testButton {
    display: inline-block;
    width: 10%;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-left: auto;
    margin-right: auto;
  }

  .testButton:hover {
    background-color: darkblue;
  }

  .testButton:active {
    transform: scale(0.95);
  }

  .inline-label {
    display: inline-flex;
    align-items: center;
  }

  .red {
    background-color: rgba(225, 0, 0, 0.5);
  }

  .green {
    background-color: rgba(0, 128, 0, 0.5);
  }

  .H{
    display: none;
  }

  .dropdownToggle {
    all: unset;
    cursor: pointer;
    height: 50px;
    width: 50px;
  }

  .dropdownArrow{
    height: 50px;
    width: 50px;
  }

  .mainQ {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    word-spacing: 0.15em;
    margin-bottom: 2%;
  }

  #strong {
    font-weight: 700;
    font-size: 1rem;
  }

 .strong2 {
    font-weight: 700;
  }

  .answers {
    margin-left: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    word-spacing: 0.10em;
  }
