  /* <!-- ________________________________________ BODY STYLING STARTS ________________________________________________ --> */
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-image: repeating-linear-gradient(to right, rgba(35, 58, 103, 1) 0, rgba(73, 100, 151, 1) 100vw);}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  /* <!-- ________________________________________ BODY STLYING ENDS ________________________________________________ --> */


    /* <!-- ________________________________________________ titlepage STARTS ____________________________________________________ --> */

            /* <!-- ________________________________________ LOGO STARTS ________________________________________________ --> */
.Logo {
  height: 26%;
  width: 26%;
  filter: grayscale(100%) brightness(40000%);
  margin-top: 2%;
  margin-bottom: 2%;
  animation: rotate 13s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  /*          <!-- ________________________________________ LOGO ENDS ________________________________________________ --> */

            /* <!-- ________________________________________ TITLE STARTS ________________________________________________ --> */
.typed-text {
  color: white;
  font-size: 200%;
  font-weight: bolder;
  font-family: 'DM Serif Text', serif;
  word-spacing: 20px;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

            /* <!-- ________________________________________ TITLE ENDS________________________________________________ --> */

             /* <!-- ________________________________________ BUTTON STARTS ________________________________________________ --> */

.button-container {
  display: flex;
  margin-bottom: 5%;
}

.button-wrapper {
  display: inline-block;
  position: relative;
  margin-top: 45px;
}
.Get-started {
  position: relative;
  padding: 10px 20px;
  background-color: white;
  color: rgba(35, 58, 103, 1);
  border: none;
  border-radius: 30px; /* Adjust the value to control the roundness */
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.Get-started:hover {
  transform: scale(1.15); /* Increase the size on hover */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}
.Get-started:active {
  transform: scale(0.95); /* Decrease the size when clicked */
}
.Get-started:hover .ripple,
.ripple:hover {
  animation-play-state: paused; /* Pause the ripple animation on hover */
}
.ripple {
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border-radius: 30px; /* Match the button's border-radius value */
  pointer-events: none;
}
.ripple1 {
  background-color: white;
  animation: ripple-animation 3s infinite ease-in-out;

  animation-delay: 1s;
}
.ripple2 {
  background-color: white;
  animation: ripple-animation 3s infinite ease-in-out;
  animation-delay: 2s;
}
.ripple3 {
  background-color: white;
  animation: ripple-animation 3s infinite ease-in-out;
  animation-delay: 2.5s;
}
@keyframes ripple-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes blink-caret {
  50% {
    opacity: 0;
  }
}
             /* <!-- ________________________________________ BUTTON STARTS ________________________________________________ --> */
    /* <!-- ________________________________________________ titlepage ENDS ____________________________________________________ --> */

     /* <!-- ________________________________________________ SIDEBAR ENDS ____________________________________________________ --> */

.sidebarDECA {
  display: hidden !important;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  font-family: 'Gothic A1', sans-serif;
  font-size: 18px;
  font-weight: 500; 
  letter-spacing: 0.5px; 
}

.fs-4 { 
  margin-top: 2%;
}

.signOut {
  margin-left: 10%;
}
 /* <!-- ________________________________________________ SIDEBAR ENDS ____________________________________________________ --> */

/* <!________________________________________ TITLEBAR STARTS __________________________________________-> */
.landingPageTitle {
  font-size: 80px;
  color: white;
  margin-right: 5%;
  margin-left: 26%;
  font-family: 'DM Serif Text', serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  word-spacing: 20px;

}
/* <!_________________________________________________ TITLEBAR ENDS ____________________________________________________> */


/* <!------------------------------------ Annoucement Div STARTS -----------------------------------> */
.announcementDiv {
  width: 70%;
  background-color: white;
  height: 200px;
  float: right;
  margin: 3% 5% 2% 5%;
  border-radius: 20px;
}


.annoucementTitle { 
  font-family: 'Cabin', sans-serif;
  padding: 2%;
  padding-left: 4%;
}
/* <!------------------------------------ Annoucement Div ENDS -----------------------------------> */

/* <!------------------------------------ MAIN PAGE CONTENT ENDS -----------------------------------> */
.mainContentContainer {
  display: flex;
  width: 70%;
  height: 70%;
  float: right;
  margin: 2% 5% 0% 5%;
}

.IQGtitle {
  font-family: 'Cabin', sans-serif;
  padding-left: 4%;
}
      /* <!------------------------- Incorrect Q STARTS ---------------------------> */


.incorrectQuestionGenerator {
  display: inline-flex;
  padding: 20px;
  margin-right: 4%;
  width: 61%;
  height: 110.1%;
  background-color: #fff;
  float: left;
  border-radius: 20px;
}
        /* <!------------------------- Incorrect Q ENDS ---------------------------> */

        /* <!------------------------- GRAPH STARTS ---------------------------> */

.pieGraph {
  display: inline-flex;
  width: 35%;
  height: auto;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.container2 {
  width: auto;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 100%;
}

#doughnutChart {
  background-color: white;
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 20px;
  padding: 2%;
}

.statisticsTitle {
  font-family: 'Cabin', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1%;
}

        /* <!------------------------- GRAPH ENDS ---------------------------> */

.questionCounter {
  width: 24.5%;
  height: auto;
  background-color: white;
  display: flex;
  float: right;
  margin-right: 5%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 5%;
}

.headingForQuestionCounter {
  padding: 3% 2% 3% 2%;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Cabin', sans-serif;
  padding: 2%;
}

/* <!------------------------------------ MAIN PAGE CONTENT -----------------------------------> */



/* --------------------------------------Question Counter STARTS -------------------------------------------------- */



/* ---------------------------------------Question Counter ENDS-------------------------------------------------- */



.button-link {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: white;
  cursor: pointer;
}

.questionCard{
  padding: 20px;
  /* Add the following styles to move the section to the right */
  margin-left: 280px; /* Adjust this value based on the width of the sidebar */
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.testButton{
  margin-left:47%;
  width: 6%;
  margin-right: 47%;
}

.inline-label {
  display: inline-flex;
  align-items: center;
}

.red {
  background-color: rgba(225, 0, 0, 0.5);
}

.green {
  background-color: rgba(0, 128, 0, 0.5);
}

.H{
  display: none;
}

.dropdownToggle {
  all: unset;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.dropdownArrow{
  height: 50px;
  width: 50px;
}



/* user choice page */

.choiceCard{
  padding: 20px;
  /* Add the following styles to move the section to the right */
  margin-left: 280px; /* Adjust this value based on the width of the sidebar */
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.clusters{
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
}

.numberofQuestions{
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
}

.time{
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
}

.buttonForChoice{
  display: flex;
  justify-content: center;
}
